.container {
  display: flex;
  justify-content: center;
  position: relative;
  padding: 40px;
}

.column,.card,.row {
  background-color: rgb(140, 194, 196);
  text-align: center;
  width: fit-content;
  padding: 10px;
}

.card-title {
  text-align: center;
}

.btn {
  background-color: rgb(128, 23, 128);
}

@media screen and (max-width: 500px) {
  .column {
    width: 100%;
  }
}
